* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.details-container {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.map-container {
    width: 65%;
    height: 100%;
    border-right: solid 1px black;
}

.line-chart-container, .scatter-plot-container, .bar-chart-container {
    height: calc(100% / 3);
    padding: 16px;
}

.line-chart-container, .scatter-plot-container {
    border-bottom: solid 1px black;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    z-index: 9999;
}

.loader {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}